[user]
	name = Deji Adepetun
	email = 23409407+dejstheman@users.noreply.github.com
[push]
	default = simple
[branch]
	autosetuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = code --wait
	excludesfile = /Users/deji/.gitignore
	autocrlf = input
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	template = /Users/deji/.stCommitMsg
[init]
	templateDir = /Users/deji/.git-template
	defaultBranch = main
[alias]
    cleanup = !git branch --merged | grep  -v '\\*\\|master\\|\\*\\|main\\|develop' | xargs -n 1 git branch -d
	rename = branch -m
[branch "master"]
	pushRemote = no_push
[branch "main"]
	pushRemote = no_push
